@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body, #app {
    width: 100%;
    min-height: 100vh;
}

section {
    padding: 3rem 8%;
}

textarea, input {
    outline: none;
}

.text-shadow {
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.45);
}